---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: scrubbed
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "scrubbed",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/userinfo.email openid https://www.googleapis.com/auth/calendar.readonly",
          "token_type": "Bearer",
          "id_token": "scrubbed"
        }
  recorded_at: Wed, 27 Feb 2019 03:01:43 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/hawksley.org@group.calendar.google.com/events?maxResults=100&orderBy=startTime&singleEvents=true&timeMin=2019-02-12T00:00:00%2B00:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer scrubbed
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p33sbrdlbu3de00g\"",
         "summary": "Timeframe test",
         "updated": "2019-02-27T02:35:04.203Z",
         "timeZone": "America/Denver",
         "accessRole": "owner",
         "defaultReminders": [],
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"3102469790406000\"",
           "id": "4hgekvr8t3s033mo81tgdj07n5",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=NGhnZWt2cjh0M3MwMzNtbzgxdGdkajA3bjUgaGF3a3NsZXkub3JnX2JsYmZqam40MzAyOGMzaDVsZGwyYmsyY2hvQGc",
           "created": "2019-02-27T02:34:55.000Z",
           "updated": "2019-02-27T02:34:55.203Z",
           "summary": "Test hour event",
           "creator": {
            "email": "joel@hawksley.org"
           },
           "organizer": {
            "email": "hawksley.org_blbfjjn43028c3h5ldl2bk2cho@group.calendar.google.com",
            "displayName": "Timeframe test",
            "self": true
           },
           "start": {
            "dateTime": "2019-02-27T19:00:00-07:00"
           },
           "end": {
            "dateTime": "2019-02-27T20:00:00-07:00"
           },
           "iCalUID": "4hgekvr8t3s033mo81tgdj07n5@google.com",
           "sequence": 0,
           "extendedProperties": {
            "private": {
             "everyoneDeclinedDismissed": "-1"
            }
           },
           "reminders": {
            "useDefault": true
           }
          },
          {
           "kind": "calendar#event",
           "etag": "\"3102469808406000\"",
           "id": "0eohgpttkveml8a48osicstani",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=MGVvaGdwdHRrdmVtbDhhNDhvc2ljc3RhbmkgaGF3a3NsZXkub3JnX2JsYmZqam40MzAyOGMzaDVsZGwyYmsyY2hvQGc",
           "created": "2019-02-27T02:35:04.000Z",
           "updated": "2019-02-27T02:35:04.203Z",
           "summary": "Test daily event",
           "creator": {
            "email": "joel@hawksley.org"
           },
           "organizer": {
            "email": "hawksley.org_blbfjjn43028c3h5ldl2bk2cho@group.calendar.google.com",
            "displayName": "Timeframe test",
            "self": true
           },
           "start": {
            "date": "2019-02-28"
           },
           "end": {
            "date": "2019-03-01"
           },
           "transparency": "transparent",
           "iCalUID": "0eohgpttkveml8a48osicstani@google.com",
           "sequence": 0,
           "extendedProperties": {
            "private": {
             "everyoneDeclinedDismissed": "-1"
            }
           },
           "reminders": {
            "useDefault": true
           }
          }
         ]
        }
  recorded_at: Wed, 27 Feb 2019 03:01:44 GMT
recorded_with: VCR 4.0.0
